:root{
    --bg: #1a1a1a; 
    --accent: #4aa8b8; 
    --panel: #458388; 
    --ink: #083838; 
    --muted: #616161;
    --header-height: 90px; 
}

main{
    flex: 1;
    padding: 3%;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--accent);
   
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1{
    text-align: center;
    color: var(--accent);
    font-weight: 700;
    margin: 0 0 12px 0;
    padding-bottom: 15px;
    font-size: 1.6rem;
    border-bottom: 1px;
    border-style: solid;
    border-color: var(--ink);
}

h2{
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: transparent;
    color: var(--accent);
    /* Melhoria: Adicionar borda externa à tabela */
    border: 3px solid var(--accent); 
}

th {
    border-style: solid; /* Usar solid para mais clareza visual */
    border-width: 1px; /* Espessura da borda interna */
    border-color: var(--ink); /* Borda mais discreta dentro do cabeçalho */
    background-color: var(--panel); 
    color: var(--ink); 
    font-weight: bold;
    text-align: center;
    padding: 10px 12px; /* Aumentar um pouco o padding para melhor leitura */
}

td{
    font-size: 0.95rem;
    text-align: center;
    border: 1px solid var(--muted);
    padding: 8px 6px;
}

tbody tr:nth-child(even) td{ 
    background: rgba(74, 168, 184, 0.05); 
}

.head th {
    background-color: var(--panel);
}
