.rodape{
    display: flex;
    background-color: var(--panel); 
    color: var(--ink);
    width: 100%;
    height: 70px;
    align-items: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 5px;
    border-color: var(--accent);
    justify-content: center;
}